@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ededed;
  --font-main: "Space Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
}
